---
layout: default
title: reference
---

<div class="float-right">
    <form action="/search.html" method="get">
        <input type="text" id="search_box" name="query">
        <input type="submit" value="search">
    </form>
</div>

<br>

<h3>Latest Reference</h3>

{% for category in site.categories %}
  {% if category[0] == "reference" %}
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
  {% endif %}
{% endfor %}
